# Bare minimum
django-cms==3.0.0

#These dependencies are brought in by django CMS, but if you want to lock-in their version, specify them
Django==1.6.1
django-classy-tags==0.4
South==0.8.4
html5lib==1.0b1
django-mptt==0.6
django-sekizai==0.7
six==1.3.0
djangocms-admin-style==0.1.2


#Optional, recommended packages
Pillow==2.4.0
django-filer==0.9.4
cmsplugin-filer==0.9.5
-e git://github.com/etianen/django-reversion.git@f3d20edf96adbb15a1970d3826d6ce8a82021048#egg=django-reversion


#CMS Plugins
djangocms-text-ckeditor
djangocms-video

#Zinnia Blog
django-blog-zinnia==0.14
django-tagging==0.3.1

#Zinnia Bootstrap
zinnia-theme-bootstrap
django-app-namespace-template-loader

-e git://github.com/SimonSarazin/django-mailman.git#egg=django-mailman

django-userena==1.2.1
django-social-auth
django-autoslug==1.4.1
django-taggit==0.11.2

wiki==0.0.23

django-extensions==1.3.5

-e git://github.com/callowayproject/django-categories.git@a4c9e709508d193af4ee3596e6340ea08573a254#egg=django_categories-master
-e git://github.com/Yaco-Sistemas/django-inplaceedit.git@7994f529c2a9b73c5e7537ed0141fc6262634ef6#egg=django_inplaceedit-master
-e git://github.com/goinnn/django-inplaceedit-extra-fields.git@6593e017f7c1663840558edfd313223eeaf1a6dc#egg=django_inplaceedit_extra_fields-master