{% extends "base.html" %}
{% load i18n %}
{% load admin_urls %}
{% load sekizai_tags %}
{% load guardian_tags %}
{% load inplace_edit %}

{% block title %}{% blocktrans with project_name=project.name %}{{ project_name }} Project | Unisson{% endblocktrans %}{% endblock %}

{% block content %}

<div class="container" id="project-detail">


<h2>Ingrédients pour faciliter le développement d'un "commun libre"</h2>
<p>Ce tableau liste six ingrédients briques à prendre en compte pour construire un commun libre, avec pour chaque brique des ressources proposées. Cet outil pourra guider à la réflexion une communauté de contributeurs à un commun ainsi que ses partenaires associés de type public ou privé. </p>
<br>
<table cellpadding="1"  border="1" cellspacing="1" class="table table-bordered table-striped table-hover table-condensed">
	<tbody>
		<tr style="text-align: center;" >
			<td >
				<strong>Brique</strong>
			</td>
		
			<td>
				<strong>Description</strong>
			</td>
			<td>
				<strong>Enjeux</strong>
			</td>
	
			<td>
				<strong>Ressource/Exemple</strong>
			</td>

		</tr>
		{% for practice in practice.all %} 
		<tr style="text-align: justify; font-size:0.8em;">
			
			<td  style="text-align: center;" >
				<h4  class="tipsed on"><a href="/wiki/{{practice.wikipage}}">{{ practice }}</a></h4>
				<p>{% inplace_edit "practice.baseline" %}</p>
				<a href="/wiki/{{practice.wikipage}}">>Voir la fiche {{practice.wikipage}}</a>
			</td>
			</td>
			<td>
				{% inplace_edit "practice.description" %}
			</td>
			<td>
				{% inplace_edit "practice.interest" %}
			</td>
			<td>
				{% inplace_edit "practice.example" %}
			</td>

			
		</tr>
		{% endfor %}
	</tbody>
</table>

</div>

{% endblock %}
