{% extends "base.html" %}
{% load i18n %}
{% load admin_urls %}
{% load sekizai_tags %}
{% load guardian_tags %}
{% load inplace_edit %}
{% load category_tags %}
{% block title %}{% blocktrans with project_name=project.name %}{{ project_name }} Project | Unisson{% endblocktrans %}{% endblock %}

{% block content %}
  
<script src="{{ STATIC_URL }}js/chart.js"></script>

<div class="container" id="project-detail">

    <h2>{% inplace_edit "project.name" %}</h2>

    <div class="col-xs-6 col-md-6">
         <h4>{{ project.baseline }}</h4>
    
        <p class="project_desc">{{ project.description|urlize }}</p>       
        <br>
        <h4>Typologie du projet (Indicateurs <a href="/fr/wiki/indics/">en construction</a>)</h4>
        <ul>
            

            {% for practice in project.positionpractice.all %} 
              
               <b>{% for ancestor in practice.practice.category.get_ancestors %}{{ ancestor }}{% endfor %} > {{ practice.practice }}</b><a data-toggle="collapse" href="#{{ practice.id }}" data-parent="#faqAccordion" class="accordion-toggle">    <span class="glyphicon glyphicon-info-sign"></span></span></a>
              <div id="{{ practice.id }}" class="accordion-body collapse out"><div class="accordion-inner">
             <small>
              <h4>Description :</h4>{% inplace_edit "practice.practice.description" %}
                <h4>Intérêt </h4>
        {% inplace_edit "practice.practice.interest" %}  <h4>Exemples</h4>{% inplace_edit "practice.practice.example" %}   </small>
        <br>
              &nbsp;</p></div></div>
              <p> <small> {% inplace_edit "practice.description" %}</small></p>
                <small>{{ practice.pos_practice.description}}</small>
              <div class="progress  progress-striped active">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{ practice.position }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ practice.position }}%;">{% inplace_edit "practice.position" %}
              </div>

              </div>
            

            {% endfor %}
            </ul>
    </div>

    <div class="col-sm-6 col-md-3">
    <img class="img-responsive" max-width="100%" src="{{ project.picture.url }}" alt="">
    <canvas id="canvas" height="450" width="450"></canvas>
  <script>

var radarChartData = {
labels : [ {% for practice in project.positionpractice.all %}'{{practice.practice}}',{% endfor %}],
datasets : [
{
fillColor : "rgba(220,220,220,0.5)",
strokeColor : "rgba(220,220,220,1)",
pointColor : "rgba(220,220,220,1)",
pointStrokeColor : "#fff",
data : [{% for practice in project.positionpractice.all %}{{practice.position}},{% endfor %}] 
}
]
}

var myRadar = new Chart(document.getElementById("canvas").getContext("2d")).Radar(radarChartData,{scaleStartValue : 0 ,  scaleSteps : 20 , scaleStartValue : 10, scaleShowLabels : true,  pointLabelFontSize : 9});

</script>
    </div>

</div>
    
{% endblock %}