{% extends 'base.html' %}

{% load i18n %}
{% load sekizai_tags %}

{% block content %}

  {% regroup project by category as category_list %}

     <div class="row">
      <div class="span9">

      <h1 class="cntr">Exemples de biens communs soutenus</h1>
         <ul class="nav nav-pills">
        {% for category in category_list %}
        <li><a href="#{{ category.grouper }}" data-toggle="tab">{{ category.grouper }}</a></li>
        {% endfor %}
        </ul>


      <div class="clr"></div>
      <div class="tabbable tabs">
      <div class="tab-content label-primary"> 
      
      {% for category in category_list %}

       <div class="tab-pane active">

        {% for project in category.list %} 
        <ul class="thumbnails">
          <li class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <div class="blockDtl">
              {% if project.picture %}<a href="/project/{{ project.slug }}"><img class="img-responsive" max-height="100px" src="{{ project.picture.url }}" alt=""></a>{% endif %}
              <h4>{{ project.name }}</h4>
              <p>{{ project.baseline }}</p>
              </div>
            </div>
          </li>
          </ul>   
           {% endfor %}
        </div> 
        {% endfor %}



      {% for category in category_list %}

       <div class="tab-pane" id="{{ category.grouper }}">

        {% for project in category.list %} 
        <ul class="thumbnails">
          <li class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <div class="blockDtl">
               {% if project.picture %}<a href="{{ project.website }}"><img class="img-responsive" max-height="100px" src="{{ project.picture.url }}" alt=""></a>{% endif %}
              <h4>{{ project.name }}</h4>
              <p>{{ project.baseline }}</p>
            </div>             
            </div>
          </li>
          </ul>   
           {% endfor %}
        </div> 
        {% endfor %}
       
      </div>
      </div>
      </div>

      </div>  
      <div class="col-sm-6 col-md-3">
      </div>
    </div>
    
{% endblock %}

