{% extends "base.html" %}
{% load i18n %}
{% load admin_urls %}
{% load sekizai_tags %}
{% load guardian_tags %}

{% block title %}{% blocktrans with group_name=workgroup.name %}{{ group_name }} group home | Imagination for People{% endblocktrans %}{% endblock %}

{% block content %}
 
<div class="container" id="workgroup-detail">
     
     <h1 class="workgroup_title"><a href="{{ workgroup.get_absolute_url }}">Groupe "{{ workgroup.name }}"</a></h1>
       <span class="workgroup_desc">{{ workgroup.description|urlize }}</span>
    <h2>Inscription au groupe</h2>
    <p>En vous inscrivant, vous rejoignez la liste de discussion "unisson@lists.unisson.co" et serez informés des discussions :<p>
    {% include "workgroup/block/subscribe_button.html" %}
    <p>Vous pouvez aussi vous inscrire directement à la liste <a href=http://lists.unisson.co/cgi-bin/mailman/listinfo/unisson>via l'interface mailman</a></p>
    <h2>Membres</h2>
    {% include "workgroup/block/workgroup_subscribers.html" %}
    

     {% if workgroup.mailing_list %}
             <em class="workgroup_email">{% blocktrans with ml_address=workgroup.mailing_list.email %}This group uses a mailing list:&nbsp;</em>{{ ml_address }}{% endblocktrans %}</em> - [<a class="workgroup_archive" href="{% url 'workgroup-list-archive' workgroup.slug %}">{% trans "Find history of messages exchanged" %}</a>].
     {% endif %}
        


    </div>
    
{% endblock %}