{% extends "base.html" %}

{% load i18n %}
{% load sekizai_tags %}
{% load cms_tags %}  

{% block content %}

    <div class="container">
     <div class="row">
      
    
      <div class="span9">
        {% placeholder "faq" or %}
          <!-- Contact Section -->
        <div id="blogSection">
        <h1 class="cntr">Fonctionnement</h1>
        <div class="container">
        <div class="row">
                  <div class="span10 offset1">
                    <div class="accordion" id="faqAccordion">
                      <div class="accordion-group">
                        <div class="accordion-heading">
                          <h4>
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq2">
                              <i class="icon-question-sign"></i> Un outil pour organiser les collaborations >
                            </a>
                          </h4>
                        </div>
                        <div id="faq2" class="accordion-body collapse">
                          <div class="accordion-inner">
                            <p>
                              Afin d'organiser le partage des informations, <a href="http://bit.ly/unisson">un tableau</a> est actuellement utilisé. Il sera amélioré pas à pas pour se transformer en un vrai outil de partage.
                            </p>
                          </div>
                        </div>
                      </div>
                      
                      <div class="accordion-group">
                        <div class="accordion-heading">
                          <h4>
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq1">
                              <i class="icon-question-sign"></i> Comment rémunuérer les acteurs d'Unisson >
                            </a>
                          </h4>
                        </div>
                        <div id="faq1" class="accordion-body collapse in">
                          <div class="accordion-inner">
                            <p>
                              Quand ils sont intervenants : ils fixent leurs tarifs et négocient directement avec le commanditaire. Si besoin, la communauté est là pour faire connaitre les tarifs moyens pratiqués.

                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
        </div>

        </div>
        </div>
        	</div>
        </div>
        {% endplaceholder %}
      </div>  
      <div class="span3">
      </div>
    </div>
    </div>
    
{% endblock %}