{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Account setup" %}{% endblock %}

{% block content_title %}<h2>{% blocktrans with profile.user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="span12">

      <form action="" enctype="multipart/form-data" method="post">
	{% csrf_token %}
	<fieldset>
	  <legend>{% trans "Edit Profile" %}</legend>
	  {{ form.as_p }}
	</fieldset>
	<input type="submit" value="{% trans "Save changes" %}" />
      </form>

    </div>
  </div>
</div>

{% endblock %}

