{% extends 'base.html' %}
{% load i18n %}

{% block content_title %}<h2>{% trans 'Profiles' %}</h2>{% endblock %}

{% block content %}
<div class="container">
  <h1>{% trans "People" %}</h1>

  <div class="row">
    <ul>
    {% for profile in profile_list %}
    <li class="span4">
    <div class="media">
      <a class="pull-left" href="{% url 'profile-detail' profile.user.username %}">
	<img class="media-object" src="{{ profile.get_mugshot_url }}" />
      </a>
      <div class="media-body">
	<h4 class="media-heading"><a href="{% url 'profile-detail' profile.user.username %}">{{ profile.get_full_name_or_username }}</a></h4>
	<p>{{ profile.location|default:"Earth" }}</p>
	<!-- <i>Trusted by </i><span class="badge badge-inverse">10</span><i> people.</i> -->
      </div>
    </div>
    </li>
    {% endfor %}
    </ul>
    
    {% if is_paginated %}
    <div class="pagination">
      <ul>
	{% if page_obj.has_previous %}
	<li>
	  <a href="{% url 'userena_profile_list_paginated' page_obj.previous_page_number %}">{% trans 'previous' %}</a>
	</li>
	{% endif %}
	
	<li class="active">
	  {% blocktrans with page_obj.number as page and page_obj.paginator.num_pages as num_pages %}
	  Page {{ page }} of {{ num_pages }}
	  {% endblocktrans %}
	</li>
	
	{% if page_obj.has_next %}
	<li>
	  <a href="{% url 'userena_profile_list_paginated'  page_obj.next_page_number %}">{% trans 'next' %}</a>
	</li>
	{% endif %}
      </ul>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
